{{#if (or (eq page.attributes.copy-to-clipboard '') (eq env.ASCIIDOC_COPY_TO_CLIPBOARD 'true') )}}
<script src="{{uiRootPath}}/js/vendor/clipboard.js"></script>
{{/if}}
<script src="{{uiRootPath}}/js/site.js"></script>
<script src="{{uiRootPath}}/js/vendor/highlight.js"></script>
<script>hljs.initHighlighting()</script>

